body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
  background: #f2eee5;
  color: #102d2a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
